-e .
git+https://github.com/mit-nlp/MITIE.git#egg=mitie
spacy==1.2.0
scikit-learn
pathlib
cloudpickle
boto3
pytest-pep8
requests
progressbar2
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
